body{
    margin: 0;
    padding: 0;
    background-color:#e5fafe;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
}

.cal-bg{
    margin-left: 40%;
    background-color: #2e2c2c;
    margin-top: 5%;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.screen{
    background-color: white; margin-top: 10%;
    padding: 20px;
    height: 20%;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    font-size: x-large;
    font-weight: bold;
    overflow-x:scroll;
    
}

.btns{
    display: grid;
    padding: 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 90%;
    width: 95%;
    gap: 5%;
}

#clear{
    grid-column: 1/3;
    background-color: #e84d0f; color: black;
}

#back{
    background-color: #b3ca01;
    grid-column: 3/5;
}

.cal-btn{
    font-size: large;
    font-weight: bold;
    background-color: white;
    border-radius: 10px; border: none;
    cursor: pointer;
}

.cal-btn:focus{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    background-color: #f7af9c;

}


.btn-oper{
    background-color: #59b4cb; color: white;
}

#result{
    background-color: #f9c907; color: white;

}